[prtg]
username=prtgadmin
password=my_super_secret_password
host=https://prtg.example.com
# optionals:
# private_key=monitoring.key
# certificate=monitoring.crt

[login]
username=someusername
password=somepass

[app]
secret_key=SOMESECRETKEY
salt=SOMESALT

[aliases]
/status/hetarchief.png=status_:hetarchief.be-http:png
/status/archief.png=status_:archief.viaa.be-http:png
/status/onderwijs.png=status_:onderwijs.hetarchief.be-http:png
/status/registratie.png=status_:registratie.viaa.be-http-port:png
/status/contract.png=status_:contract.viaa.be-http:png
/status/ftp.png=status_:ftp.viaa.be-ftp-login:png
/status/cataloguspro.png=status_:cataloguspro.hetarchief.be-http-transaction:png