{% extends "layout.html" %}
{% block style %}
  ul.urls li img {
    height: 1em;
  }
{% endblock %}
{% block content %}
  <section>
    <h3>Available urls</h3>
      {% for method_type, methods in method_types.items() %}
        {% if not method_type.startswith('/'): %}
        <h4>{{ method_type.rstrip('_') }}</h4>
        {% endif %}

        <ul class="urls">
        {% for method in methods %}
        <li>
          {% for k, v in method.params.items() %}
          <span class="chip">
            <span class="label label-secondary">{{ k.rstrip('_') }}</span>
            {{ v }}
          </span>
          {% endfor %}
          <a href="{{ method.url }}">{{ method.url }}</a>

          {% if method.params.type_=="png" or method_type.endswith('.png') %}
            <img src="{{ method.url }}" alt="{{ method.url }}">
          {% endif %}
        </li>
        {% endfor %}
        </ul>
      {% endfor %}
  </section>
{% endblock %}